Repository apavliukov/laravel-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, rector, pint

eslint:
  tags: frontend
  run: yarn run eslint --fix {staged_files}
  stage_fixed: true

prettier:
  tags: frontend
  run: yarn run prettier --write {staged_files}
  stage_fixed: true

rector:
  tags: backend
  run: docker compose -f docker-compose.yml exec -T app composer run-script rector-fix {staged_files}
  stage_fixed: true

pint:
  tags: backend
  run: docker compose -f docker-compose.yml exec -T app composer run-script pint {staged_files}
  stage_fixed: true

fix missing import
  vite.config.js
Due: none

install sentry
  bootstrap/app.php
  composer.json
  composer.lock
Due: rector, pint

remove unnecessary comments and set final classes
  app/Contracts/Enums/HasLabelsInterface.php
  app/Contracts/Enums/StringMatchInterface.php
  app/Contracts/Models/ModelInteractionInterface.php
  app/Contracts/Models/ModelSoftDeleteInteractionInterface.php
  app/Contracts/Repositories/Models/ModelRepositoryInterface.php
  app/Contracts/Services/Models/ModelInteractionServiceInterface.php
  app/Helpers/helpers.php
  app/Mail/MailbookMail.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Providers/HorizonServiceProvider.php
  app/Providers/ModelRepositoryServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  app/Repositories/BaseRepository.php
  app/Repositories/Models/BaseModelRepository.php
  app/Repositories/Models/Users/UserRepository.php
  app/Services/BaseService.php
  app/Services/Models/BaseModelInteractionService.php
  app/Services/Models/Users/UserInteractionService.php
  app/Traits/Enums/HasLabels.php
  app/Traits/Repositories/Models/HasSoftDeletesActions.php
  app/Traits/Services/Models/HasSoftDeletesActions.php
  app/View/Components/AppLayout.php
  app/View/Components/GuestLayout.php
  routes/console.php
  routes/web.php
Due: rector, pint

remove sessions table and unnecessary comments
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/0001_01_01_000002_create_jobs_table.php
  database/migrations/2025_02_07_085808_create_telescope_entries_table.php
Due: rector, pint

add model strict mode and morph map
  app/Providers/AppServiceProvider.php
  app/Providers/HorizonServiceProvider.php
Due: rector, pint

add Makefile
  Makefile
Due: none

adjust rector rules
  rector.php
Due: rector, pint

initiate browser sentry
  resources/js/bootstrap.js
  resources/js/common/vendor/sentry.js
Due: eslint, prettier

fix typo
  vite.config.js
Due: none

add placeholder directories
  app/Enums/.gitkeep
  app/View/Components/Admin/.gitkeep
  app/View/Components/Client/.gitkeep
  resources/views/components/admin/.gitkeep
  resources/views/components/client/.gitkeep
  resources/views/livewire/admin/.gitkeep
  resources/views/livewire/client/.gitkeep
Due: none

set correct redis host
  .env.example
Due: none

disable viteStaticCopy until there are no images
  vite.config.js
Due: none

set morph name for user model
  app/Providers/AppServiceProvider.php
Due: rector, pint

fix path for docker volumes
  pint.json
Due: none

upgrade packages
  .env.example
  .mcp.json
  README.md
  _ide_helper.php
  boost.json
  composer.json
  composer.lock
  config/airdrop.php
  package.json
  postcss.config.js
  rector.php
  vite.config.js
  yarn.lock
Due: rector, pint

add skills and rules for claude
  .claude/rules/admin-structure.md
  .claude/rules/laravel-boost.md
  .claude/rules/livewire.md
  .claude/rules/testing.md
  .claude/skills/configuring-horizon/SKILL.md
  .claude/skills/configuring-horizon/references/metrics.md
  .claude/skills/configuring-horizon/references/notifications.md
  .claude/skills/configuring-horizon/references/supervisors.md
  .claude/skills/configuring-horizon/references/tags.md
  .claude/skills/debug-using-debugbar/SKILL.md
  .claude/skills/fluxui-development/SKILL.md
  .claude/skills/laravel-best-practices/SKILL.md
  .claude/skills/laravel-best-practices/rules/advanced-queries.md
  .claude/skills/laravel-best-practices/rules/architecture.md
  .claude/skills/laravel-best-practices/rules/blade-views.md
  .claude/skills/laravel-best-practices/rules/caching.md
  .claude/skills/laravel-best-practices/rules/collections.md
  .claude/skills/laravel-best-practices/rules/config.md
  .claude/skills/laravel-best-practices/rules/db-performance.md
  .claude/skills/laravel-best-practices/rules/eloquent.md
  .claude/skills/laravel-best-practices/rules/error-handling.md
  .claude/skills/laravel-best-practices/rules/events-notifications.md
  .claude/skills/laravel-best-practices/rules/http-client.md
  .claude/skills/laravel-best-practices/rules/mail.md
  .claude/skills/laravel-best-practices/rules/migrations.md
  .claude/skills/laravel-best-practices/rules/queue-jobs.md
  .claude/skills/laravel-best-practices/rules/routing.md
  .claude/skills/laravel-best-practices/rules/scheduling.md
  .claude/skills/laravel-best-practices/rules/security.md
  .claude/skills/laravel-best-practices/rules/style.md
  .claude/skills/laravel-best-practices/rules/testing.md
  .claude/skills/laravel-best-practices/rules/validation.md
  .claude/skills/tailwindcss-development/SKILL.md
Due: none

follow admin/member structure
  app/Http/Controllers/Admin/Member/DashboardController.php
  app/Http/Controllers/Admin/Platform/DashboardController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Livewire/Admin/Common/Settings/Profile.php
  app/Livewire/Admin/Member/.gitkeep
  app/Livewire/Admin/Platform/.gitkeep
  app/Livewire/Auth/ConfirmPassword.php
  app/Livewire/Auth/Login.php
  app/Livewire/Auth/Register.php
  app/Livewire/Auth/VerifyEmail.php
  app/View/Components/Admin/Member/.gitkeep
  app/View/Components/Admin/Platform/.gitkeep
  resources/views/components/admin/member/.gitkeep
  resources/views/components/admin/platform/.gitkeep
  resources/views/components/common/ui/navigation/layouts/header.blade.php
  resources/views/components/common/ui/navigation/layouts/sidebar.blade.php
  resources/views/components/layouts/auth/card.blade.php
  resources/views/components/layouts/auth/simple.blade.php
  resources/views/components/layouts/auth/split.blade.php
  resources/views/livewire/admin/member/.gitkeep
  resources/views/livewire/admin/platform/.gitkeep
  resources/views/pages/admin/member/dashboard/index.blade.php
  resources/views/pages/admin/platform/dashboard/index.blade.php
  routes/admin.php
  routes/admin/member.php
  routes/admin/platform.php
Due: rector, pint

update docker setup
  docker-compose.yml
  docker/8.4/Dockerfile
  docker/mysql/create-testing-database.sh
Due: none

update livewire assets
  composer.json
Due: none

fix correct path to pgsql directory
  docker-compose.yml
Due: none

remove babel packages
  eslint.config.js
  package.json
  yarn.lock
Due: none

format php files
  app/Contracts/Enums/HasLabelsInterface.php
  app/Contracts/Enums/StringMatchInterface.php
  app/Helpers/helpers.php
  app/Models/User.php
  app/Providers/HorizonServiceProvider.php
  app/Providers/ModelRepositoryServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  app/Repositories/Models/BaseModelRepository.php
  app/Services/Models/BaseModelInteractionService.php
  bootstrap/providers.php
  config/auth.php
  database/factories/UserFactory.php
  database/seeders/DatabaseSeeder.php
  public/index.php
  tests/Generators/Models/BaseModelGenerator.php
  tests/Generators/Models/Users/UserGenerator.php
  tests/Unit/Repositories/Models/ModelRepositoryTestCase.php
  tests/Unit/Repositories/RepositoryTestCase.php
  tests/Unit/Services/Models/ModelServiceTestCase.php
  tests/Unit/Services/ServiceTestCase.php
Due: rector, pint

refactor alpine logic, move toast component
  resources/js/admin/components/toast.js
  resources/js/admin/modules/admin.js
  resources/js/common/components/sample.js
  resources/js/common/vendor/alpine.js
  resources/js/common/vendor/sentry.js
  resources/js/web/modules/web.js
  resources/views/components/admin/ui/toast.blade.php
  resources/views/components/common/ui/toast.blade.php
  resources/views/components/layouts/admin.blade.php
  resources/views/components/layouts/web.blade.php
Due: eslint, prettier, rector, pint

add sample users pages and list component
  app/Http/Controllers/Admin/UserController.php
  app/Livewire/Admin/Users/UserList.php
  resources/views/components/admin/users/layout.blade.php
  resources/views/livewire/admin/users/user-list.blade.php
  resources/views/pages/admin/users/index.blade.php
  routes/admin/platform.php
Due: rector, pint

move settings related components in admin scope
  app/Http/Controllers/Admin/SettingsController.php
  app/Livewire/Admin/Settings/Appearance.php
  app/Livewire/Admin/Settings/DeleteUserForm.php
  app/Livewire/Admin/Settings/Password.php
  app/Livewire/Admin/Settings/Profile.php
  resources/views/livewire/admin/settings/appearance.blade.php
  resources/views/livewire/admin/settings/delete-user-form.blade.php
  resources/views/livewire/admin/settings/password.blade.php
  resources/views/livewire/admin/settings/profile.blade.php
  resources/views/pages/admin/settings/appearance.blade.php
  resources/views/pages/admin/settings/password.blade.php
  resources/views/pages/admin/settings/profile.blade.php
  routes/admin.php
Due: rector, pint

clean up templates
  app/Livewire/Admin/Member/.gitkeep
  app/Livewire/Admin/Platform/.gitkeep
  app/Livewire/Admin/Utility/ToastVariants.php
  resources/views/components/admin/models/.gitkeep
  resources/views/components/admin/settings/layout.blade.php
  resources/views/components/admin/ui/navigation/sidebar.blade.php
  resources/views/components/admin/ui/navigation/user-menu.blade.php
  resources/views/flux/icon/book-open-text.blade.php
  resources/views/flux/icon/chevrons-up-down.blade.php
  resources/views/flux/icon/folder-git-2.blade.php
  resources/views/flux/icon/layout-grid.blade.php
  resources/views/livewire/admin/member/.gitkeep
  resources/views/livewire/admin/platform/.gitkeep
  resources/views/livewire/admin/utility/toast-variants.blade.php
Due: rector, pint

use one admin route for both members and admins
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/Member/DashboardController.php
  app/Http/Middleware/EnsurePlatformAdminAccessMiddleware.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Providers/HorizonServiceProvider.php
  resources/views/components/admin/ui/navigation/sidebar.blade.php
  resources/views/pages/admin/dashboard/index.blade.php
  resources/views/pages/admin/dashboard/member.blade.php
  resources/views/pages/admin/dashboard/platform.blade.php
  routes/admin.php
  routes/admin/member.php
  routes/admin/platform.php
Due: rector, pint

docs: add actions+queries+DTOs refactor design spec
  docs/superpowers/specs/2026-05-03-actions-queries-dtos-refactor-design.md
Due: none

docs: add implementation plan for actions+queries+DTOs refactor
  docs/superpowers/plans/2026-05-03-actions-queries-dtos-refactor.md
Due: none

add soft deletes for user
  app/Models/User.php
  database/migrations/0001_01_01_000000_create_users_table.php
Due: rector, pint

update auth components
  app/Livewire/Auth/ConfirmPassword.php
  app/Livewire/Auth/Login.php
  app/Livewire/Auth/Register.php
  app/Livewire/Auth/VerifyEmail.php
  resources/views/components/auth-header.blade.php
  resources/views/livewire/auth/confirm-password.blade.php
  resources/views/livewire/auth/forgot-password.blade.php
  resources/views/livewire/auth/login.blade.php
  resources/views/livewire/auth/register.blade.php
  resources/views/livewire/auth/reset-password.blade.php
  resources/views/livewire/auth/verify-email.blade.php
Due: rector, pint

fix wrong route name
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Livewire/Admin/Settings/Profile.php
  resources/views/components/admin/member/navigation/menu.blade.php
  resources/views/components/admin/platform/navigation/menu.blade.php
  resources/views/components/admin/ui/navigation/sidebar.blade.php
  resources/views/components/layouts/auth/card.blade.php
  resources/views/components/layouts/auth/simple.blade.php
  resources/views/components/layouts/auth/split.blade.php
Due: rector, pint

separate admin dashboard layouts
  resources/views/components/admin/dashboard/member.blade.php
  resources/views/components/admin/dashboard/platform.blade.php
  resources/views/pages/admin/dashboard/index.blade.php
Due: rector, pint

add demo data seeders
  database/seeders/ConsistencySeeder.php
  database/seeders/Demo/DemoSeeder.php
  database/seeders/Demo/DemoUserSeeder.php
Due: rector, pint

remove service and repository layer in favour of actions and queries
  app/Contracts/Repositories/Models/ModelRepositoryInterface.php
  app/Contracts/Services/Models/ModelInteractionServiceInterface.php
  app/Providers/ModelRepositoryServiceProvider.php
  app/Repositories/BaseRepository.php
  app/Repositories/Models/BaseModelRepository.php
  app/Repositories/Models/Users/UserRepository.php
  app/Services/BaseService.php
  app/Services/Models/BaseModelInteractionService.php
  app/Services/Models/Users/UserInteractionService.php
  app/Traits/Controllers/HasAuthorizationPolicy.php
  app/Traits/Repositories/Models/HasSoftDeletesActions.php
  app/Traits/Services/Models/HasSoftDeletesActions.php
  bootstrap/providers.php
  tests/Generators/BaseGenerator.php
  tests/Generators/Models/BaseModelGenerator.php
  tests/Generators/Models/Users/UserGenerator.php
  tests/Unit/Repositories/Models/ModelRepositoryTestCase.php
  tests/Unit/Repositories/Models/Users/UserRepositoryTest.php
  tests/Unit/Repositories/RepositoryTestCase.php
  tests/Unit/Services/Models/ModelServiceTestCase.php
  tests/Unit/Services/Models/Users/UserInteractionServiceTest.php
  tests/Unit/Services/ServiceTestCase.php
Due: rector, pint

refactor authorization — ability enums, abstract policy, permission seeding
  .claude/rules/authorization.md
  app/Contracts/Policies/PolicyBasicAuthorizationInterface.php
  app/Contracts/Policies/PolicySoftDeletesInterface.php
  app/Enums/Policies/Abilities/Ability.php
  app/Enums/Policies/Abilities/SystemAbility.php
  app/Enums/Policies/Ability.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Middleware/EnsurePlatformAdminAccessMiddleware.php
  app/Livewire/Admin/Users/CreateUser.php
  app/Livewire/Admin/Users/DeleteUser.php
  app/Livewire/Admin/Users/EditUser.php
  app/Livewire/Admin/Users/UserList.php
  app/Models/Permission.php
  app/Policies/AbstractPolicy.php
  app/Policies/UserPolicy.php
  app/Providers/AppServiceProvider.php
  app/Providers/HorizonServiceProvider.php
  app/Traits/Controllers/HasAuthorizationActions.php
  app/Traits/Models/HasPolicy.php
  app/Traits/Policies/HasAuthorizationActions.php
  pint.json
  resources/views/components/admin/users/layout.blade.php
  resources/views/livewire/admin/users/user-list.blade.php
Due: rector, pint

Path conditions:
  eslint: any of: resources/**/*.js
  prettier: any of: resources/**/*.{css,js}
  rector: any of: *.php
  pint: any of: *.php
